*           text=auto
*.sh        text eol=lf
*.java      text eol=lf
*.kt        text eol=lf
*.gradle    text eol=lf
pom.xml     text eol=lf
*.xml       text eol=lf
*.properties text eol=lf
*.yml       text eol=lf
*.jsp       text eol=lf
*.html      text eol=lf
*.css       text eol=lf
*.js        text eol=lf
*.bat       text eol=crlf
*.cmd       text eol=crlf
*.jar       binary
*.war       binary
*.p12       binary
*.png       binary
*.jpg       binary
